body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: lightgray; /* Ваш колір фону */
}

/* Контейнер для Sketchfab canvas */
.sketchfab-container {
    width: 100%; /* Ширина на всю сторінку */
    height: 1200px; /* Висота як у банера, можете змінити на своє значення */
    z-index: -1; /* Залишаємо на задньому плані */
    z-index: -1; /* Відправляємо його на задній план */
}

#api-frame {
    width: 100%;
    height: 100%;
    border: none;
}

/* Стилі для кнопок */
.color-controls {
    position: fixed; /* Закріплюємо їх на екрані */
    top: 20px; /* Відступ зверху */
    left: 20px; /* Відступ зліва */
    z-index: 100; /* Переміщаємо їх на передній план */
    pointer-events: none; /* ЦЕ КЛЮЧОВИЙ РЯДОК */
}

.color-controls button {
    /* Додайте стилі для кнопок, якщо хочете */
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    pointer-events: auto; /* Повертаємо можливість клікати на кнопки */
}