html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

#api-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#api-frame {
  width: 100%;
  height: 100%;
  border: none;
}

#hotspot-container {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* щоб не заважало нативним хотспотам */
}

.custom-hotspot {
  position: absolute;
  background-color: #1f6fff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  pointer-events: auto;
}
